.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}
.play-icon{
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about h3{
    font-weight: 600;
    font-size: 16px;
    color: #170101;
}
.about h2{
    margin: 10px 0;
    font-size: 35px;
    color: #f50000;
}
.about h4{
    margin: 10px 0;
    font-size: 16px;
    color: #000000;
}
.about p{
    color: #02344f;
    margin-bottom: 15px;
}