.court{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.court .btn{
    background: fixed;
    /*color: #ffffff; */
    padding: 4px 7px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    border: 100px;
    outline: 0;
    display:inline-flex ;
    align-items:normal;
    justify-content:center
}
.court .btn img{
    width: 100px;
    margin-left: 0px;
}
ul li{
    display: inline-block;
    list-style-type: none ;
    margin: 3px 8px;
    font-size: 11px;

}